.skrBanner{
    position: relative;
    margin-top: -20px;
    overflow: hidden;
    border-bottom: solid 10px #FFFFFF;
    z-index: 0;
    -webkit-box-shadow: 0 2px 48px 0 rgb(0 0 0 / 4%);
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 4%);
}
.skrCoverFrame{
    position: absolute;
    width: 100%;
    height: 100% !important;
    overflow: hidden;
    z-index: 0;
    background-color: #ECFAFB;
}
.skrCoverFrame span{
    height: 100% !important;
}
.skrCoverFrame span span{
    height: 100% !important;
}
.imgCOverFrame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-animation: zoom 20s ease-in-out infinite;
    animation: zoom 20s ease-in-out infinite;
}

@keyframes zoom {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
}

.skrOverlay{
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 58, 78, 0.6)), to(rgba(11, 12, 18, 0.4)));
    background-image: linear-gradient(180deg, rgba(56, 58, 78, 0.6) 0%, rgba(11, 12, 18, 0.4) 100%);
}

.bannerContainer{
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 999999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.skrMainTitle{
    width: 100%;
    position: relative;
}

.skrWhite{
    color: #ECFAFB;
}
.skrWhite ul{
    padding: 0;
}

.skrStars{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #EBA744;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 160px;
    margin: 0 auto 20px;
    border-radius: 15px;
}

.skrStars li{
    margin: 4px 6px;
}

.skrBannerHeader{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 70px;
    margin-bottom: 10px;
}
.skrBannerHeaderSupportText{
    margin-bottom: 30px;
}

.bookingForm{
    padding: 10px 10px 10px 30px;
    border-radius: 100px;
    margin-bottom: 30px;
    width: 100%;
    -webkit-box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%);
    box-shadow: 0 0 0 10px rgb(255 255 255 / 15%), 0 2px 48px 0 rgb(0 0 0 / 4%);
    background-color: #FFFFFF;
    color: #64688C;
}

.skrInputFrame{
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.bookingForm label{
    margin: 0 10px 0 0;
    white-space: nowrap;
}

.bookingForm input{
    background-color: #ECFAFB;
    -webkit-box-shadow: inset 0 2px 48px 0 rgb(0 0 0 / 4%);
    box-shadow: inset 0 2px 48px 0 rgb(0 0 0 / 4%);
    border-radius: 10px;
    color: #64688C;
    margin-bottom: 0;

    padding: 0 20px;
    width: 100%;
    height: 50px;
    border: none;
}

.bookingForm button{
    float: right;
    padding: 0;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.skrButton, .skrButton:focus{
    outline: inherit;
    -webkit-box-shadow: 0 0 0 10px #ffffff, 0 2px 48px 0 rgb(0 0 0 / 4%);
    box-shadow: 0 0 0 10px #ffffff, 0 2px 48px 0 rgb(0 0 0 / 4%);
    cursor: pointer;
    border: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50px;
    height: 50px;
    line-height: 50px;
    padding: 0 40px;
    letter-spacing: 2px;
    font-size: 15px;
    white-space: nowrap;
    color: #FFFFFF !important;
    background-color: #3B61DD;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.skrButton span img{
    width: 12px !important;
    transform: scale(1.4) translateY(-1px);
    margin: 0 !important;
}
.skrButton span{
    display: none;
}

.scrollHintFrame{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scrollWhiteText{
    color: #ECFAFB;
    margin-bottom: 20px;
}

.scrollHint{
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    width: 24px;
    height: 40px;
    border: solid 2px #EBA744;
    border-radius: 20px;
}

.scrollHint::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: #FFFFFF;
    height: 4px;
    width: 4px;
    top: 10px;
    left: 8px;
    -webkit-animation: mouse 1s infinite ease-in-out;
    animation: mouse 1s infinite ease-in-out;
}


@keyframes mouse {
    0% {
      transform: translateY(0);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0);
    }
  }


.highlightedFeaturedCard{
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 4%);
    z-index: 2;
    position: relative;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px 10px 0;
    /* margin-bottom: 100px; */
}

/* .highlightedFeaturedCard::before{
    content: '';
    width: 500px;
    height: 10px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 999;
    top: calc(50% - 5px);
    left: -500px;
} */

.iconBox{
    -webkit-box-shadow: inset 0 2px 48px 0 rgb(0 0 0 / 4%);
    box-shadow: inset 0 2px 48px 0 rgb(0 0 0 / 4%);
    border-radius: 10px;
    text-align: center;
    background-color: #F2FFFF;
    padding: 30px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    /* border: solid 10px #FFFFFF; */
    margin-bottom: 10px;
    height: calc(100% - 10px);
    /* height: 100%; */
    border: none;
}

.featuredText{
    font-size: 1rem;
    font-weight: 600;
}

@media (max-width: 500px){
    .skrBannerHeader{
    font-size: 48px;
}
}


@media (max-width: 992px){
.skrBannerHeader{
    font-size: 54px;
}
.bookingForm{
    padding: 20px;
    border-radius: 10px;
}
.bannerContainer{
    height: auto;
    padding-top: 180px;
    padding-bottom: 150px;
}
}
