.welcomeContainer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ECFAFB;
}

.skrAboutCard{
    -webkit-box-shadow: 0 2px 48px 0 rgb(0 0 0 / 4%);
    box-shadow: 0 2px 48px 0 rgb(0 0 0 / 4%);
    border: solid 10px #FFFFFF;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FFFFFF;
}

.skrAboutText{
    padding: 60px;
    width: 100%;
}

.skrAboutPhoto{
    position: relative;
    overflow: hidden;
    width: 100%;

    /* padding-bottom: 70%; */
}

.skrAboutPhoto > span {
    width: 100% !important
}

.skrPhoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

@media (min-width: 992px) {
    .skrAboutPhoto{
        height: 512px;
    }
}

/* @media screen and (min-width: 992px) {
    .skrPhoto{
        height: 413px !important;
    }
} */